{% extends 'base.html'%}
{% block content %}
    <h1 class="mt-2 text-center">{{ recipe.name }}</h1>
    <div class="row pt-5">
        <div class="container-drink col-lg-6">
            <img class="drink-img" src="{{ recipe.image }}" alt="{{ recipe.name }}">
            <br>
            <p>Drink added by: {{ recipe.user }}</p>
        </div>
        <div class="col-lg-6 ml-3">
        <div class="row">
            <h3>Ingredients</h3>
            <p>{{ recipe.ingredients }}</p>
            <br>
            <h3>Instructions</h3>
            <p class="white-space:pre-wrap">{{ recipe.instructions }}</p>
        </div>
        {% if session['username'] == recipe.user %}
            <div class="row">
                <a href="{{ url_for('edit', recipe_id=recipe._id) }}" class="btn btn-outline-info">Edit Drink</a>
            </div>
        {% endif %}
    </div>
    
{% endblock content %}